@model Course
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div>
<p> Название: @Model.Name</p><br/>
<p> Количество часов: @Model.CountOFhours</p><br/>
<p> Преподаватель: @Model.Author</p><br/>
<p> Описание курса: @Model.Description</p><br/>
</div>