@model User

<div>
    <form asp-action="AddUser" asp-controller="Admin">
        <p>
            <label asp-for="Name">Логин</label><br />
            <input type="text" asp-for="Name" />
        </p>
        <p>
            <label asp-for="Password">Пароль</label><br />
            <input type="text" asp-for="Password" />
        </p>
        <p>
            <label asp-for="Email">Почта</label><br />
            <input type="text" asp-for="Email" />
        </p>
        <p>
            <label  asp-for="Role">Роль</label><br />
            <select asp-for="Role" asp-items="@new SelectList(Enum.GetNames(typeof(Roletype)))"></select>
        </p>
        <p>
            <input type="submit" value="Добавить пользователя" />
        </p>
    </form>
</div>