@model User

<div>
    <form asp-action="EditUser" asp-controller="Admin" asp-route-id="@Model.Id">
        <p class="main-form">
            <label asp-for="Name" class="font-style">Логин</label><br />
            <input type="text" asp-for="Name" />
        </p>
        <p class="main-form">
            <label asp-for="Password">Пароль</label><br />
            <input type="text" asp-for="Password" />
        </p>
        <p class="main-form">
            <label asp-for="Email">Почта</label><br />
            <input type="text" asp-for="Email" />
        </p>
        <p class="main-form">
            <label asp-for="Role">Роль</label><br />
            <select asp-for="Role" asp-items="@new SelectList(Enum.GetNames(typeof(Roletype)))"></select>
        </p>
        <p class="main-form">
            <input type="submit" class="button-style" value="Изменить" />
        </p>
    </form>
</div>