@model List<User>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="cources_box">
    <h2 class="text-style">Список курсов</h2>
    <table class="table-style">
        <tr>
            <th class="text-style">Имя пользователя</th>
            <th class="text-style">Роль</th> 
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td class="td-table-style">@item.Name</td>
                <td class="td-table-style">@item.Role.ToString()</td>
                <td class="td-table-style">
                    <a asp-action="EditUser" asp-controller="Admin" asp-route-id="@item.Id">Изменить</a>
                </td>
                <td class="td-table-style">
                    <form asp-controller="Admin" asp-action="DeleteUser" method="post" asp-route-id="@item.Id">
                        <input type="submit" class="button-style" value="Удалить" />
                    </form>
                </td>
            </tr>
        }
    </table>
    <a asp-action="AddUser" asp-controller="Admin">Добавить пользователя</a>
</div>